@media (max-width: 768px) { 
/* body{
    overflow: hidden;
} */

    .lists{
        display: none;
    }
 
    .heading_4{
        font-size: small;
    }

    .heading_5{
        font-size: small;
    }

    .heading_1{
        font-size: x-large;
    }

    .head li{
        display: none;
    }

    .head_section{
        display: flex;
        flex-direction: column;
        
    }
	 
   .head_section h3{
	text-decoration:underline;
   }


}